REPLICATE_API_TOKEN=
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=

POSTIZ_API_KEY=
POSTIZ_BASE_URL=https://api.postiz.com/public/v1
POSTIZ_YOUTUBE_INTEGRATION_ID=
POSTIZ_TIKTOK_INTEGRATION_ID=
POSTIZ_INSTAGRAM_INTEGRATION_ID=
POSTIZ_FACEBOOK_INTEGRATION_ID=

YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_REFRESH_TOKEN=
YOUTUBE_CATEGORY_ID=24
YOUTUBE_PRIVACY_STATUS=public

TIKTOK_ACCESS_TOKEN=
TIKTOK_REFRESH_TOKEN=
TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
TIKTOK_POST_MODE=upload
TIKTOK_PRIVACY_LEVEL=PUBLIC_TO_EVERYONE

META_ACCESS_TOKEN=
META_APP_ID=
META_APP_SECRET=
INSTAGRAM_USER_ID=
FACEBOOK_PAGE_NAME=
FACEBOOK_PAGE_ID=
FACEBOOK_PAGE_ACCESS_TOKEN=
PUBLIC_VIDEO_BASE_URL=
PUBLIC_VIDEO_UPLOAD_PROVIDER=
PUBLIC_VIDEO_UPLOAD_PREFIX=videos
BLOB_READ_WRITE_TOKEN=
VERCEL_CLI_COMMAND=vercel
